body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: repeat(15, 50px);
    gap: 2px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.gridCell {
    width: 50px;
    height: 50px;
    background-color: #8db596;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: relative;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.character {
    background-image: url('https://via.placeholder.com/50');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 4;
    border: none;
    position: relative;
}

.enemy {
    background-image: url('https://via.placeholder.com/50/ff0000');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
}

.movable {
    background-color: rgba(209, 231, 221, 0.7);
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.movable:hover {
    background-color: #7fbc7a;
}

.path {
    background-color: rgba(255, 0, 0, 0.5); /* Highlight untuk path yang dilalui */
}

.initialPosition {
    border: 2px solid #0000ff; /* Highlight untuk posisi awal karakter */
}

.hidden {
    display: none;
}

#actionMenu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 5;
}

.selected {
    border: 2px solid blue;
}

.character:hover {
    border: 2px solid blue; /* Tampilkan border biru saat di-hover */
}

#actionMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#actionMenu ul li {
    padding: 5px 10px;
    cursor: pointer;
}

#actionMenu ul li:hover {
    background-color: #f0f0f0;
}

#turnOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;  /* Memastikan overlay tidak mengganggu klik */
}

#turnOverlay.show {
    opacity: 1;
    pointer-events: all;  /* Aktifkan klik selama animasi overlay */
}

#turnText {
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
    animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}